# GMAIL SPAM DETECTION

# IMPORTING LIBRARY

In [7]:
import pandas as pd
import numpy as np

# IMPORTING DATASET

In [8]:
dataset=pd.read_csv('SPAM.csv',encoding="ISO-8859-1")
dataset.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [9]:
dataset['spam']=dataset['type'].map({'spam':1,'ham':0}).astype(int)
dataset.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [10]:
print('Columns In The Given Data:')
for col in dataset.columns:
    print(col)

Columns In The Given Data:
type
text
spam

In [11]:
t=len(dataset['type'])
print("No Of Rows In Review Column:",t)
t=len(dataset['text'])
print("No Of Rows In Liked Column:",t)

No Of Rows In Review Column: 116
No Of Rows In Liked Column: 116

# TOKENIZATION

In [12]:
dataset['text'][1] #before tokenization

'Ok lar... Joking wif u oni...'

In [13]:
def tokenizer(text):
    return text.split()

In [14]:
dataset['text']=dataset['text'].apply(tokenizer)

In [15]:
dataset['text'][1] #after tokenization

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

# STEMMING

In [16]:
dataset['text'][1]

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [17]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english")

In [18]:
def stem_it(text):
    return[porter.stem(word) for word in text]

In [19]:
dataset['text']=dataset['text'].apply(stem_it)

In [20]:
dataset['text'][1]

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

# LEMMITIZATION

In [21]:
dataset['text'][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [22]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [23]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [24]:
def leemit_it(text):
    return[lemmatizer.lemmatize(word,pos="a") for word in text]

In [25]:
dataset['text']=dataset['text'].apply(leemit_it)

In [26]:
dataset['text'][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

# STOPWORDS REMOVAL

In [27]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [28]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')

In [30]:
def stop_it(text):
    review=[word for word in text if not word in stop_words]
    return review

In [31]:
dataset['text']=dataset['text'].apply(stop_it)

In [32]:
dataset['text'][2]

['free',
 'entri',
 '2',
 'wkli',
 'comp',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 '87121',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [33]:
dataset.head(10)

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0
5  spam  [freemsg, hey, darl, 3, week, word, back!, i'd...     1
6   ham  [even, brother, like, speak, me., treat, like,...     0
7   ham  [per, request, mell, mell, (oru, minnaminungin...     0
8  spam  [winner!!, valu, network, custom, select, rece...     1
9  spam  [mobil, 11, month, more?, u, r, entitl, updat,...     1

In [34]:
dataset['text']=dataset['text'].apply(' '.join)

In [35]:
dataset.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

# TRANSFORM TEXT DATA INTO TDF/TDF_IDF VECTORS

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidv=TfidfVectorizer()
X=tfidv.fit_transform(dataset['text'])
y=dataset['spam'].values

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

# CLASSIFICATION USING LOGISTIC REGRESSION

In [40]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

In [50]:
pd.DataFrame({"ORIGINAL DATASET":y_test,"PREDICTED DATASET":y_pred})

    ORIGINAL DATASET  PREDICTED DATASET
0                  1                  0
1                  0                  0
2                  1                  0
3                  0                  0
4                  0                  0
5                  1                  0
6                  0                  0
7                  0                  0
8                  0                  0
9                  0                  0
10                 1                  0
11                 0                  0
12                 1                  0
13                 0                  0
14                 0                  0
15                 0                  0
16                 0                  0
17                 0                  0
18                 0                  0
19                 1                  0
20                 0                  0
21                 0                  0
22                 0                  0
23                 1                  0

In [43]:
#Accuracy
from sklearn.metrics import accuracy_score
print("ACCURACY:",accuracy_score(y_pred,y_test)*100)

ACCURACY: 70.83333333333334

# CLASSIFICATION USING LINEAR SVC

In [45]:
from sklearn.svm import LinearSVC
linear_svc=LinearSVC(random_state=0)
linear_svc.fit(X_train,y_train)
y_pred=linear_svc.predict(X_test)

In [51]:
pd.DataFrame({"ORIGINAL DATASET":y_test,"PREDICTED DATASET":y_pred})

    ORIGINAL DATASET  PREDICTED DATASET
0                  1                  0
1                  0                  0
2                  1                  0
3                  0                  0
4                  0                  0
5                  1                  0
6                  0                  0
7                  0                  0
8                  0                  0
9                  0                  0
10                 1                  0
11                 0                  0
12                 1                  0
13                 0                  0
14                 0                  0
15                 0                  0
16                 0                  0
17                 0                  0
18                 0                  0
19                 1                  0
20                 0                  0
21                 0                  0
22                 0                  0
23                 1                  0

In [46]:
print("ACCURACY:",accuracy_score(y_pred,y_test)*100)

ACCURACY: 70.83333333333334